:root {
  --color-before: #fac95f;
  --color-before-two: #fdbe36;
}
.form_control {
  margin: 3px;
  width: 100%;
  height: 32px;
  background: rgb(251, 251, 251);
}
.contenedor_two {
  position: relative;
  width: 100%;
  min-height: 90.9vh;
  background-color: #fff;
  overflow: hidden;
}
.contenedor_two::before {
  content: '';
  position: absolute;
  width: 1200px;
  height: 1000px;
  border-radius: 10%;
  background: linear-gradient(-45deg, var(--color-before), var(--color-before-two));
  top: 66%;
  left: 105%;
  transform: translateX(-70%);
  z-index: 6;
  transition: .3s ease-in-out;
}
.form_contenedor {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  left: 0;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  overflow: hidden;
  transition: 0.2s 0.7 ease-in-out;
}

.buro {
  position: absolute;
  max-width: 1000px;
  width: 100%;
  margin-left: -70px;
  padding: 25px 30px;
  border-radius: 5px;
  z-index: 8;
}

.buro_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input_box{
  width: calc(100% / 2 - 20px);
  margin-bottom: 10px;
}

.input_box input{
  height: 45px;
  width: 110%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.input_box input:focus,
.input_box input:valid{
  border-color: #000;
}

.data_bank{
  width: 100%;
}

.data_bank input{
  margin: 5px;
}

.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.image_form {
  width: 80%;
}

.image_bank{
  width: 80%;
  margin-top: 10px;
}

.content{
  margin-left: 55%;
}

.form_panel {
  position: absolute;
  width: 100%;
  top: 5%;
  left: -10%;
  display: grid;
  grid-template-columns: repeat(1, fr);
}
.panel_two {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 7;
  text-align: center;
}
.panel_two h3 {
  font-weight: 600;
  line-height: 3;
  font-size: 1.5em;
}

@media (max-width: 1300px){
  .buro {
    max-width: 700px;
    width: 100%;
    margin-left: -70px;
    padding: 25px 30px;
    border-radius: 5px;
  }
  .contenedor_two {
    min-height: 133.9vh;
  }
}
@media (max-width: 900px) {
  .image_form,
  .image_bank {
    display: none;
  }
  
  .form_panel {
    position: absolute;
    width: 100%;
    top: 82%;
    left: -10%;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    color: #fff;
  }
  .buro {
    max-width: 100%;
    margin: auto;
    position: absolute;
    z-index: 8;
  }

  .buro_form{
    margin-bottom: 15px;
  }

  .data_bank{
    width: 100%;
  }

  .contenedor_two::before {
    content: '';
    position: absolute;
    width: 1200px;
    height: 1000px;
    border-radius: 10%;
    background: linear-gradient(-45deg, var(--color-before), var(--color-before-two));
    top: 80%;
    left: 105%;
    transform: translateX(-70%);
    z-index: 6;
    transition: .3s ease-in-out;
  }
  .contenedor_two {
    position: relative;
    width: 100%;
    min-height: 99.9vh;
    background-color: #fff;
    overflow: hidden;
  }
}
@media (max-width: 700px) {
  .image_form {
    display: none;
  }
  .form_panel {
    position: absolute;
    width: 100%;
    top: 82%;
    left: -5%;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    color: #fff;
  }

  .buro{
    max-width: 100%;
  }

  .input_box{
    width: 100%;
  }

  .contenedor_two::before {
    content: '';
    position: absolute;
    width: 1200px;
    height: 1000px;
    border-radius: 10%;
    background: linear-gradient(-45deg, var(--color-before), var(--color-before-two));
    top: 80%;
    left: 130%;
    transform: translateX(-70%);
    z-index: 6;
    transition: .3s ease-in-out;
  }
  .contenedor_two {
    position: relative;
    width: 100%;
    min-height: 165vh;
    background-color: #fff;
    overflow: hidden;
  }
}
@media (max-width: 500px){
  .form_panel {
    position: absolute;
    width: 100%;
    top: 82%;
    left: 0;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    color: #fff;
  }
  .buro {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    z-index: 8;
    transition: .5s ease-in-out;
  }
  .contenedor_two::before {
    content: '';
    position: absolute;
    width: 1200px;
    height: 1000px;
    border-radius: 10%;
    background: linear-gradient(-45deg, var(--color-before), var(--color-before-two));
    top: 80%;
    left: 130%;
    transform: translateX(-70%);
    z-index: 6;
    transition: .3s ease-in-out;
  }
  .contenedor_two {
    position: relative;
    width: 100%;
    min-height: 93.7vh;
    background-color: #fff;
    overflow: hidden;
  }
}